@media screen and (max-width: 380px) {
    .main_container {
        max-width: 820px;
        background-color: white;
        border-left: 2px solid #C7C0C0;
        border-right: 2px solid #C7C0C0;
        padding: 0px;
    }
}