table {
    border-collapse: collapse; 
    width: 100%; 
    margin: 20px 0;

}
th, td { border: 1px solid gray; 
    padding: 12px; 
    text-align: left; 

}
th { 
    background-color: #f4f4f4; 
    font-weight: bold; 
}

h3{
    margin-left: 20px;
    margin-right: 20px;
}

textarea{
    border: gray 2px solid;
    border-radius: 10px;
    width: 300px;
    max-width: 80%;
}
.input_text{
    border: gray 2px solid;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    margin-bottom: 10px;
}

#send, #back{
    border: gray 2px solid;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    margin-right: 15px;
}

#send:hover{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
#back:hover{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.dropbtn {
  background-color: #ffffff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

/* Кнопка выпадающего меню при наведении и фокусировке */

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    float: right;
    position: relative;
    z-index: 2;
  
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   right: 0;
  z-index: 1;

  border-radius: 10px;
  
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ffffff}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {display:block;}


.list_big{
    display: inline;
    margin-right:50px;
    padding: 7px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
}

.list{
    display: inline;
    margin-right:50px;
    padding: 7px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    max-width: 230px;
}

.list:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.list_big:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.list_small:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

footer{
    border-top: black solid 2px;
}
.container_footer{
    display: flex;
    justify-content:space-between;
    max-width: 1920px;
    margin: auto;
}
@media screen and (max-width: 500px){
 .container_footer{
    display: flex;
    max-width: 1920px;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

}


.head{
    max-height: 145px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

.head_1{
    display: flex;
    align-items: center;
}

.container{
    margin:auto;
    max-width: 1920px;
    
}

header{
    border-bottom: 2px solid black;
}

.line_header{
    width: 3px;
    height: 63px;
    border-right: 4px solid black;
}

.container_head{
    display: flex;
    align-items: center;
}

.container_head_button{
    display: flex;
}

h1{
    margin-right: 53px;
}

ul {
    margin: 0px;
    

}


.container_media{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.media{
    margin: 5px;
    border: gray solid 2px;
    border-radius: 10px;
    height: 200px;
    width: 400px;
    object-fit: cover;
    object-position: center;
}



.video{
    width: 400px;
    height: 200px;
}


@media screen and (max-width: 500px){
    .media{
    margin: 5px;
    border: gray solid 2px;
    border-radius: 10px;
    height: 130px;
    width: 260px;
}
    .video{
        height: 130px;
        width: 260px;
    }

}


.container_hub{
    max-width: 1920px;
    margin: auto;
}
.hub{
    height: 25px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.ul_hub{
    height: 25px;
    display: flex;
    padding-inline-start: 0px;
}

.list_hub{
    display: flex;
    align-items: center;
    height: 25px;
}



.arrow{
    transform: rotate(180deg);
}

.burger-menu__mobile-button {
    display: inline;
}

.burger-menu {
    width: 91px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger-menu__stick{
    background-color: #000000;
    width: 52px;
    height: 4px;
    margin-bottom: 8px;
    z-index: -1;
}

.picture{
    padding-top: 4px;
}

.people{
    margin-left: 10px;
    margin-top: 16px;
    border-radius: 15px;
    border:gray solid 2px;
    width: 204px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}



.search_bar{
    min-width: 300px;
    max-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    height: 28px;
}
.search_bar_small{
    display: none;
}

.container_search{
    margin-bottom: 10px;
}

.chapter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E2E2E2;
}
.main_container{
    max-width: 820px;
    background-color: white;
    border-left: 2px solid #C7C0C0;
    border-right: 2px solid #C7C0C0;
    padding: 30px;
}


.line_main{
    
    background-color: black;
    width: 90%;
    min-height: 2px;
}




.main_text{
    display: flex;
    text-align: justify;
    align-items: flex-start;
}
.text{
    display: flex;
    flex-wrap: wrap;
}
p{
    text-indent: 25px;
    margin: 0px 10px 10px 0px;
}


@media screen and (max-width: 470px){
    .line_header{
        display: none;
    }
    h1 {
        margin-right: 0px;
    }
    ul{
        padding: 0px;
    }
}


@media screen and (min-width: 1430px) {
    .search_bar{
    min-width: 600px;
    max-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}
}

@media screen and (max-width: 1130px) {
    .search_bar{
    min-width: 100px;
    max-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}
}



@media screen and (max-width: 670px) {
    .search_bar{
        display: none;
    }
    .search_bar_small{
        min-width: 250px;
        max-height: 35px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid black;
        border-radius: 10px;
        height: 28px;
    }
}
.button_small{
    display: flex;
}
.list_small{
    display: none;
}



@media screen and (max-width: 1020px) {
    .list_big{
    display: inline;
    margin-right: 15px;
    padding: 7px;
    border: 2px solid black;
    border-radius: 10px;
}
}

@media screen and (max-width: 950px) {
    .list_big{
    display: block;
    margin: 5px 5px;
    
    padding: 7px;
    border: 2px solid black;
    border-radius: 10px;
    };
    
}
@media screen and (max-width: 400px) {
    .list_small{
    display: block;
    padding: 7px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}
    .list_big{
        display: none;
    }
}
@media screen and (max-width: 720px) {
    .main_text{
    display: flex;
    text-align: justify;
    flex-direction: column;
    align-items: center;
}
    
}

a {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 10px;
  margin: -10px;
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 715px) {
a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 10px;
    margin: -10px;
    text-decoration: none;
    color: black;
    width: 100%;
    }
}